In [11]:
import pandas as pd
import numpy as np

users = pd.read_csv("users.csv")
recipes = pd.read_csv("recipes.csv")
interactions_train = pd.read_csv("interactions_train.csv")
interactions_val = pd.read_csv("interactions_val.csv")
interactions_val_cold = pd.read_csv("interactions_val_cold.csv")
cold_users = pd.read_json("cold_users.json")

In [34]:
users["preferred_portion_size"].value_counts()

preferred_portion_size
large     1000
small      500
medium     500
Name: count, dtype: int64

In [42]:
set(users.preferred_strength)

{1, 2, 3, 4, 5}

In [4]:
users.info()
users.describe()

<class 'pandas.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 2000 non-null   str
 1   username                2000 non-null   str
 2   owned_equipment         2000 non-null   str
 3   available_products      2000 non-null   str
 4   taste_pref_bitterness   2000 non-null   float64
 5   taste_pref_sweetness    2000 non-null   float64
 6   taste_pref_acidity      2000 non-null   float64
 7   taste_pref_body         2000 non-null   float64
 8   preferred_strength      2000 non-null   int64
 9   preferred_portion_size  2000 non-null   str
 10  dietary_restrictions    2000 non-null   str
 11  account_created         2000 non-null   str
dtypes: float64(4), int64(1), str(7)
memory usage: 187.6 KB

,taste_pref_bitterness,taste_pref_sweetness,taste_pref_acidity,taste_pref_body,preferred_strength
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,0.448414,0.415291,0.340685,0.594537,2.454000
std,0.220668,0.252315,0.183851,0.195616,1.089255
min,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.283393,0.216839,0.203709,0.458068,2.000000
50%,0.423832,0.383671,0.335308,0.581954,2.000000
75%,0.609513,0.596717,0.470540,0.730485,3.000000
max,1.000000,1.000000,1.000000,1.000000,5.000000

In [8]:
interactions_train.info()
interactions_train.describe()

<class 'pandas.DataFrame'>
RangeIndex: 75895 entries, 0 to 75894
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   interaction_id  75895 non-null  str
 1   user_id         75895 non-null  str
 2   recipe_id       75895 non-null  str
 3   timestamp       75895 non-null  str
 4   rating          45534 non-null  float64
 5   completed       75895 non-null  bool
dtypes: bool(1), float64(1), str(4)
memory usage: 3.0 MB

             rating
count  45534.000000
mean       3.279813
std        1.107025
min        1.000000
25%        2.500000
50%        3.000000
75%        4.000000
max        5.000000

In [ ]:
interactions_val.info()

In [ ]:
interactions_val_cold.info()

In [12]:
recipes.info()
recipes.describe()

<class 'pandas.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   recipe_id                 150 non-null    str
 1   name                      150 non-null    str
 2   description               150 non-null    str
 3   taste_bitterness          150 non-null    float64
 4   taste_sweetness           150 non-null    float64
 5   taste_acidity             150 non-null    float64
 6   taste_body                150 non-null    float64
 7   strength                  150 non-null    int64
 8   portion_size_ml           150 non-null    int64
 9   preparation_time_minutes  150 non-null    int64
 10  difficulty                150 non-null    str
 11  required_equipment        150 non-null    str
 12  required_products         150 non-null    str
 13  tags                      150 non-null    str
dtypes: float64(4), int64(3), str(7)
memory usage: 16.5 KB

,taste_bitterness,taste_sweetness,taste_acidity,taste_body,strength,portion_size_ml,preparation_time_minutes
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,0.488715,0.385331,0.327195,0.645734,3.160000,296.633333,120.493333
std,0.172797,0.237403,0.136005,0.139755,1.181967,136.721459,390.778499
min,0.196351,0.026648,0.083319,0.400000,1.000000,27.000000,3.000000
25%,0.350000,0.159045,0.220043,0.546349,2.000000,200.000000,4.000000
50%,0.461933,0.340220,0.300000,0.614736,3.000000,350.000000,6.000000
75%,0.632508,0.599998,0.425335,0.729641,4.000000,400.000000,7.000000
max,0.872698,0.914961,0.757927,0.971661,5.000000,675.000000,1445.000000

In [23]:
recipes["tags"]

0       ["hot", "classic", "high_caffeine", "quick"]
1                ["hot", "classic", "high_caffeine"]
2                        ["hot", "classic", "quick"]
3                                 ["hot", "classic"]
4                                 ["hot", "classic"]
                           ...
145              ["high_caffeine", "classic", "hot"]
146              ["iced", "low_caffeine", "classic"]
147                               ["classic", "hot"]
148              ["high_caffeine", "classic", "hot"]
149    ["specialty", "low_caffeine", "vegan", "hot"]
Name: tags, Length: 150, dtype: str

In [20]:
recipes[recipes["difficulty"] == "advanced"]["required_equipment"]

6      ["espresso_machine", "grinder", "milk_frother"]
18                      ["cold_brew_maker", "grinder"]
35     ["espresso_machine", "grinder", "milk_frother"]
60     ["espresso_machine", "grinder", "milk_frother"]
69     ["espresso_machine", "grinder", "milk_frother"]
77                      ["cold_brew_maker", "grinder"]
82     ["espresso_machine", "grinder", "milk_frother"]
108    ["espresso_machine", "grinder", "milk_frother"]
124                     ["cold_brew_maker", "grinder"]
Name: required_equipment, dtype: str