In [2]:
import pandas as pd

users = pd.read_csv("../student_data/users.csv")
recipes = pd.read_csv("../student_data/recipes.csv")
interactions_train = pd.read_csv("../student_data/interactions_train.csv")
interactions_val = pd.read_csv("../student_data/interactions_val.csv")
interactions_val_cold = pd.read_csv("../student_data/interactions_val_cold.csv")
cold_users = pd.read_json("../student_data/cold_users.json")

In [1]:
users["user_id"].value_counts()

NameError: name 'users' is not defined

In [ ]:
set(users.preferred_strength)

In [3]:
users.info()
users.describe()

<class 'pandas.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 2000 non-null   str
 1   username                2000 non-null   str
 2   owned_equipment         2000 non-null   str
 3   available_products      2000 non-null   str
 4   taste_pref_bitterness   2000 non-null   float64
 5   taste_pref_sweetness    2000 non-null   float64
 6   taste_pref_acidity      2000 non-null   float64
 7   taste_pref_body         2000 non-null   float64
 8   preferred_strength      2000 non-null   int64
 9   preferred_portion_size  2000 non-null   str
 10  dietary_restrictions    2000 non-null   str
 11  account_created         2000 non-null   str
dtypes: float64(4), int64(1), str(7)
memory usage: 187.6 KB

,taste_pref_bitterness,taste_pref_sweetness,taste_pref_acidity,taste_pref_body,preferred_strength
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,0.448414,0.415291,0.340685,0.594537,2.454000
std,0.220668,0.252315,0.183851,0.195616,1.089255
min,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.283393,0.216839,0.203709,0.458068,2.000000
50%,0.423832,0.383671,0.335308,0.581954,2.000000
75%,0.609513,0.596717,0.470540,0.730485,3.000000
max,1.000000,1.000000,1.000000,1.000000,5.000000

In [18]:
# interactions_train.info()
interactions_train[interactions_train["user_id"] == "user_01916"].sample(6)

,interaction_id,user_id,recipe_id,timestamp,rating,completed
110,int_0141569,user_01916,recipe_french_press_coffee_with_extra_shot_070,2024-01-17T07:40:47,3.0,True
2161,int_0141574,user_01916,recipe_french_press_coffee_large_094,2024-03-07T09:57:02,NaN,True
24734,int_0141581,user_01916,recipe_french_press_coffee_with_cinnamon_117,2024-07-19T14:14:28,3.0,True
333,int_0141560,user_01916,recipe_french_press_coffee_large_094,2024-01-29T07:00:32,1.5,True
6155,int_0141565,user_01916,recipe_moka_pot_with_extra_shot_145,2024-04-17T09:19:47,3.0,True
7280,int_0141589,user_01916,recipe_moka_pot_with_extra_shot_145,2024-04-25T16:40:31,NaN,True

In [ ]:
interactions_val_cold.info()

In [4]:
recipes.info()
recipes.describe()

<class 'pandas.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   recipe_id                 150 non-null    str
 1   name                      150 non-null    str
 2   description               150 non-null    str
 3   taste_bitterness          150 non-null    float64
 4   taste_sweetness           150 non-null    float64
 5   taste_acidity             150 non-null    float64
 6   taste_body                150 non-null    float64
 7   strength                  150 non-null    int64
 8   portion_size_ml           150 non-null    int64
 9   preparation_time_minutes  150 non-null    int64
 10  difficulty                150 non-null    str
 11  required_equipment        150 non-null    str
 12  required_products         150 non-null    str
 13  tags                      150 non-null    str
dtypes: float64(4), int64(3), str(7)
memory usage: 16.5 KB

,taste_bitterness,taste_sweetness,taste_acidity,taste_body,strength,portion_size_ml,preparation_time_minutes
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,0.488715,0.385331,0.327195,0.645734,3.160000,296.633333,120.493333
std,0.172797,0.237403,0.136005,0.139755,1.181967,136.721459,390.778499
min,0.196351,0.026648,0.083319,0.400000,1.000000,27.000000,3.000000
25%,0.350000,0.159045,0.220043,0.546349,2.000000,200.000000,4.000000
50%,0.461933,0.340220,0.300000,0.614736,3.000000,350.000000,6.000000
75%,0.632508,0.599998,0.425335,0.729641,4.000000,400.000000,7.000000
max,0.872698,0.914961,0.757927,0.971661,5.000000,675.000000,1445.000000

In [ ]:
recipes["tags"]

In [ ]:
recipes[recipes["difficulty"] == "advanced"]["required_equipment"]